@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: hsl(0, 0%, 98%);
}
.inputText {
    background-image: url('./images/icons8-search.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 2em;
}
.button-shadow {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.dark > * {
    background-color: hsl(207, 26%, 17%);
    color: white;
}